<div class="w-full bg-[#b2856f]">
  <div class="w-full h-20">
    <%= image_tag "bg.png", alt: "", class: "w-full h-20" %>
    <%= image_tag "pic.svg", alt: "Profile photo", class: "hero-profile" %>
    <%= image_tag "profile_logo.svg", alt: "NN'S QUEST", class: "hero-logo" %>
    <%= link_to brag_path, class: "hero_brag" do %>
      <div class="brag-button">
        <span class="brag-text">BRAG DOCS</span>
      </div>
    <% end %>
  </div>
  <div class="task_container">
    <!-- เพิ่ม id และเปลี่ยนเป็น turbo_stream -->
    <div id="task-form">
      <%= form_with model: @task, url: tasks_path, method: :post, data: { turbo_stream: true }, class: "flex flex-col md:flex-row md:items-start md:gap-4 mb-6" do |form| %>
        <!-- Field + error -->
        <div class="w-full md:flex-1 flex flex-col">
          <%= form.text_field :content,
              placeholder: "เพิ่มเควสต์ของฉัน",
              class: "task-input" %>
        </div>
        <div class="add-btn">
          <!-- Button -->
          <%= button_tag type: "submit",
              class: " text-white p-3  w-full md:w-auto mt-2 md:mt-0 flex items-center justify-center",
              data: { testid: "submit-quest" } do %>
            <div class="brag-button">
                <span class="brag-text">BRAG DOCS</span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <!-- Quest List - เพิ่ม id -->
    <div>
      <ul class="task" id="task-list">
        <% @tasks.each do |task| %>
          <li id="<%= dom_id(task) %>" class="flex justify-between items-center  px-4 py-3 rounded">
            <!-- Left: Title -->
            <div class="task-item">
              <%= form_with model: task, url: toggle_status_task_path(task), method: :patch, data: { turbo_stream: true } do |form| %>
                <%= form.check_box :status, {
                  checked: task.status,
                  class: "task-checkbox",
                  id: "task_#{task.id}",
                  onchange: "this.form.requestSubmit()",
                  data: { testid: "checkbox-quest-#{task.id}" }
                } %>
              <% end %>
              <div class="txt-btn">
                <label for="task_<%= task.id %>"
                  class="text-base md:text-lg break-words whitespace-normal overflow-hidden <%= "line-through text-gray-500" if task.status %>">
                  <%= task.content %>
                </label>

                <%= button_to task_path(task), method: :delete, form: { data: { turbo_stream: true } }, class: "group bg-transparent p-0 border-0" do %>
                  <%= image_tag "delete.svg", alt: "Delete", class: "delete-btn" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>