<div class="w-full bg-[#b2856f]">
  <div class="w-full flex flex-col items-center justify-center">
    <div class="w-full">
        <%= image_tag "bg1.png", alt: "", class: "w-full" %>
    </div>
    <!-- ปุ่มอยู่ใต้โลโก้ -->
    <%= link_to "Brag Document", brag_path, 
    class: "w-full bg-[#B2856D] text-white text-lg text-center font-bold mt-4 py-3 flex justify-center items-center" %>
</div>

  <div class="task_container">
    <!-- เพิ่ม id และเปลี่ยนเป็น turbo_stream -->
    <div id="task-form" data-controller="task-form">
    <%= form_with model: @task, url: tasks_path, method: :post, 
        data: { turbo_stream: true }, require: true,
        class: "flex flex-col md:flex-row md:items-center md:gap-4 mb-6 w-full max-w-4xl mx-auto" do |form| %>
      
      <!-- Input -->
      <div class="flex-1">
        <%= form.text_field :content,
            placeholder: "Add your task!", require: true,
            placeholder: "Add your task!",
            class: "w-full px-4 py-3 border-2 border-blue-900 bg-white
                     focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-lg",
            data: { testid: "task-input",
            task_form_target: "input", action: "input->task-form#toggle" } %>
      </div>

      <!-- ปุ่ม -->
      <%= form.submit "Add task",
          data: { testid: "submit-quest", task_form_target: "submit"  },disabled: true,
          class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-3 shadow 
                  transition-colors duration-200 cursor-pointer md:mt-0 mt-3" %>
    <% end %>
  </div>

    <!-- Quest List - เพิ่ม id -->
    <div>
      <ul class="task" id="task-list">
        <% @tasks.each do |task| %>
          <li id="<%= dom_id(task) %>" class="flex justify-between items-center  px-4 py-3 rounded">
            <!-- Left: Title -->
            <div class="task-item">
              <%= form_with model: task, url: toggle_status_task_path(task), method: :patch, data: { turbo_stream: true } do |form| %>
                <%= form.check_box :status, {
                  checked: task.status,
                  class: "task-checkbox",
                  id: "task_#{task.id}",
                  onchange: "this.form.requestSubmit()",
                  data: { testid: "checkbox-quest-#{task.id}" }
                } %>
              <% end %>
              <div class="txt-btn">
                <label for="task_<%= task.id %>"
                  class="text-base md:text-lg break-words whitespace-normal overflow-hidden <%= "line-through text-gray-500" if task.status %>">
                  <%= task.content %>
                </label>

                <%= button_to task_path(task), method: :delete, form: { data: { turbo_stream: true } }, class: "group bg-transparent p-0 border-0" do %>
                  <%= image_tag "delete.svg", alt: "Delete", class: "delete-btn" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>