<div class="w-full bg-[#c2eaff]">
  <section class="hero-container">
    <%= image_tag "bg.png", alt: "", class: "hero-bg" %>
    <%= image_tag "pic.svg", alt: "Profile photo", class: "hero-profile" %>
    <%= image_tag "profile_logo.svg", alt: "NN'S QUEST", class: "hero-logo" %>
    <%= link_to brag_path, class: "hero_brag" do %>
      <%= image_tag "brag_button.svg", alt: "NN'S QUEST" %>
    <% end %>
  </section>
</div>