<%= turbo_stream.replace @task do %>
    <li id="<%= dom_id(@task) %>" class="flex justify-between items-center bg-gray-100 px-4 py-3 rounded">
        <div class="task-item">
            <%= form_with model: @task, url: toggle_status_task_path(@task), method: :patch, data: { turbo_stream: true } do |form| %>
            <%= form.check_box :status, {
                checked: @task.status,
                class: "task-checkbox",
                id: "task_#{@task.id}",
                onchange: "this.form.requestSubmit()",
                data: { testid: "checkbox-quest-#{@task.id}" }
            } %>
            <% end %>

            <div class="txt-btn">
            <label for="task_<%= @task.id %>"
                class="text-base md:text-lg break-words whitespace-normal overflow-hidden <%= "line-through text-gray-500" if @task.status %>">
                <%= @task.content %>
            </label>

            <%= button_to task_path(@task), method: :delete,
                            form: { data: { turbo_stream: true } },
                            class: "group bg-transparent p-0 border-0" do %>
                <%= image_tag "delete.svg", alt: "Delete", class: "delete-btn" %>
            <% end %>
            </div>
        </div>
        </li>

<% end %>
